<template>
  <div>
    <!-- <img alt="Vue logo" src="./assets/logo.png"> -->
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
    <!-- <h1 v-if="showTitle">{{title}}</h1> -->
    <!-- <h1 v-else>Mantul</h1> -->
    <!-- <h1 v-show="showTitle">{{title}}</h1> -->
    <judul-component :showTitle="showTitle" :judul="judul"></judul-component>
    <button type="button" @click="toggleShow()">Show aku mas</button>
    <button type="button" @click="toggleHide()">Hide aku mas</button>
    <button type="button" @click="toggleTitle()">Sentuh Aku mas</button>
    <br>
    <div class="container-fluid">
      <div class="row p-5">
        <div class="col-md-6">
          <form action="">
            <input type="text" class="form-control" v-model="tambahSiswa.id" placeholder="enter Id">
            <br>
            <input type="text" class="form-control" v-model="tambahSiswa.name" placeholder="enter name">
            <br>
            <input type="text" class="form-control" v-model="tambahSiswa.kelas" placeholder="enter kelas">
            <br>
            <input type="text" class="form-control" v-model="tambahSiswa.nilai" placeholder="enter nilai">
            <br>
            <button type="button" @click="addSiswa()">Add Siswa</button>
          </form>
        </div>
      </div>
      <!-- <ul>
      <li v-for="(value,key) in mahasiswaList " :key="key">
        Name : {{value.name}}
        <br>
        Kelas : {{value.kelas}}
        <br>
        Nilai : {{value.nilai}}
      </li>
    </ul>
    Total Nilai : {{hitungTotalNilai}} -->

      <table class="table">
        <thead>
          <tr>
            <td>ID</td>
            <td>Type</td>
            <td>Name</td>
            <td>Action</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="data in brandList" :key="data.id">
            <td>{{ data.id }}</td>
            <td>{{ data.type }}</td>
            <td>{{ data.name }}</td>
            <td>edit | hapus</td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous" @click="onPrev()">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next" @click="onNext()">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>


  </div>
</template>

<script>
  import JudulComponent from './JudulComponent.vue'

  export default {
    name: 'app',
    components: {
      'judul-component': JudulComponent

      // HelloWorld
    },
    data() {
      return {
        brandList: [],
        judul: 'Belajar Vue ',
        message: 'asdasdasd',
        showTitle: true,
        totalNilai: 0,
        tambahSiswa: {
          id: '',
          name: '',
          kelas: '',
          nilai: 0
        },
        pagination:{
          page:1,
          next_page_url:null,
          prev_page_url:null
        },
        mahasiswaList: [{
            id: 1,
            name: "Faisal",
            kelas: "Tata Boga",
            nilai: 10
          },
          {
            id: 2,
            name: "Amel",
            kelas: "Teknik Mesin",
            nilai: 20
          },
          {
            id: 3,
            name: "Indah",
            kelas: "Multimedia",
            nilai: 1
          },
          {
            id: 4,
            name: "Rizky",
            kelas: "Nari",
            nilai: 0
          },
          {
            id: 5,
            name: "udin",
            kelas: "hacker",
            nilai: -1
          }
        ]
      }

    },

    computed: {
      hitungTotalNilai() {
        let nilai = 0;
        let nilaiTotal = this.mahasiswaList.map((value, index) => {
          return nilai += parseInt(value.nilai)
        });

        return this.nilaiTotal = nilai;
      }
    },
    mounted() {
      this.getListBreand();
    },
    methods: {
      onNext(){
        // let accessToken = localStorage.getItem('access_token')
        this.$http.get(this.pagination.next_page_url, {
          headers: {
            Authorization: 'Bearer ' + this.$store.state.access_token
          }
        }).then(res => {
          this.brandList = res.data.data
          this.pagination.next_page_url = res.data.next_page_url
          this.pagination.prev_page_url = res.data.prev_page_url
          console.log(res);
        }).catch(err => {
          console.log(err);
        })
      },
      onPrev(){
        // let accessToken = localStorage.getItem('access_token')
        this.$http.get(this.pagination.prev_page_url, {
          headers: {
            Authorization: 'Bearer ' + this.$store.state.access_token
          }
        }).then(res => {
          this.brandList = res.data.data
          this.pagination.next_page_url = res.data.next_page_url
          this.pagination.prev_page_url = res.data.prev_page_url
          console.log(res);
        }).catch(err => {
          console.log(err);
        })
      },
      getListBreand() {
        let accessToken = localStorage.getItem('access_token')
        this.$http.get('https://api-isa.lietschie.com/api/brand?page=1', {
          headers: {
            Authorization: 'Bearer ' + this.$store.state.access_token
          }
        }).then(res => {
          this.brandList = res.data.data
          this.pagination.next_page_url = res.data.next_page_url
          this.pagination.prev_page_url = res.data.prev_page_url
          console.log(res);
        }).catch(err => {
          console.log(err);
        })
      },
      toggleShow() {
        this.showTitle = true;
      },
      toggleHide() {
        this.showTitle = false;
      },
      toggleTitle() {
        if (this.showTitle == true) {
          this.showTitle = false;
        } else {
          this.showTitle = true;
        }
      },
      addSiswa() {
        // let createSiswa = this.tambahSiswa;
        // let inputSiswa = {
        //   id:this.tambahSiswa.id,
        //   name:this.tambahSiswa.name,
        //   kelas:this.tambahSiswa.kelas,
        //   nilai:this.tambahSiswa.nilai
        // };  

        // this.mahasiswaList.push(inputSiswa);

        // this.tambahSiswa  = {};
      }
    }
  }
</script>

<style>

</style>