<template>
    <div>
        <div class="container">
            <div class="row p-5">
                <div class="col-md-6 text-center bg-info text-white p-5">
                    <h1>LOGIN FORM</h1>
                    <div class="row">
                        <div class="col-md-12">
                            <b-card>
                                <form>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" v-model="loginData.username" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" v-model="loginData.password" class="form-control" id="exampleInputPassword1"
                                            placeholder="Password">
                                    </div>
                                    <!-- <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                    </div> -->
                                    <button type="button" class="btn btn-primary" @click="onLogin()">Login</button>
                                </form>
                            </b-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                loginData:{
                    grant_type: 'password',
                    scope: '*',
                    username: '',
                    password: '',
                    client_id: '2',
                    client_secret: 'mRNVr6g7to5zTGGNeFhH8NkEY7Oa9ISo6F05HeSi'
                }
            }
        },
        methods:{
            onLogin(){
                this.$http.post('https://api-isa.lietschie.com/oauth/token',this.loginData).then(res => {
                    console.log(res)
                    localStorage.setItem('access_token',res.data.access_token)
                    this.$store.commit('setToken',res.data.access_token)
                    localStorage.setItem('expires_in',res.data.expires_in)
                    localStorage.setItem('refresh_token',res.data.refresh_token)

                    this.$router.push('/')
                }).catch(err => {
                    console.log(err)
                })
            }
        }
    }
</script>